<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Slate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slate">

        <!-- 로그인 화면 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 메인 -->
        <activity android:name=".MainActivity" />

        <!-- ✅ 영화 정보 화면 -->
        <activity android:name=".MovieInformationActivity" />

    </application>
</manifest>